/* CSS GROUPING GUIDE (line between each)
$variables
@imports
@keyframes
@includes
animations
Positioning
Display & Box Model
Color
Text
Other
*/

/* CSS GRID GUIDE
card
  container
    row
      col-x
*/

// breakpoints (still hardcoded in flexgrid)
$sm: 48em;
$md: 64em;
$lg: 75em;

// fonts
$font-family: 'Lato', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

// colors
$dark-grey: #333447;
$dark-gray: #333447; // for the Americans

// other
$icon-size: 1.5em;

@import './../sass/global/flexboxgrid';
@import './../sass/global/colors';
@import './../sass/global/topography';
@import './../sass/global/cards';
@import './../sass/partials/activities';
@import './../sass/partials/clicky';
@import './../sass/partials/experience';
@import './../sass/partials/nav';
@import './../sass/partials/title';
@import './../sass/partials/calendar';

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

// universal

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  box-sizing: border-box;
  background: #e2e1e0;

}

* {
  font-family: $font-family;
  /* color: $dark-grey; */
  line-height: $font-height;
}

