$bg-light        : #0d3076;
$bg-dark         : #0B1B41;
$text-icons      : #ffffff;
$primary-text    : #2c2c2c;
$secondary-text  : #757575;
$light-primary   : #cfd8dc;
$accent-color    : #03A9F4;
$primary-game    : #FFC107;
$primary-software: #607D8B;
$primary-data    : #009688;

