$padding-top: 3.5em;
$portrait-size-exp-sm: 12em;
$portrait-size-clp-sm: 4em;
$collapse-time: 0.5s;

@keyframes title-collapse-sm {
    0%   {
        max-height: 25em;
    }
    100% {
        max-height: $padding-top + $portrait-size-clp-sm + 1em;
        overflow: hidden;
        max-width: 94%;
        margin-left: auto;
        margin-right: auto;
    }
}
@keyframes title-expand-sm {
    0%  {
        max-height: $padding-top + $portrait-size-clp-sm + 1em;
        overflow: hidden;
        max-width: 94%;
    }
    100% {max-height: 99em;}
}

@keyframes portrait-collapse-sm{
    0%   {
        left: 0em;
        right: 0em;

        margin: auto;
    }
    100% {
        left: 1em;
        right: auto;

        margin: none;
    }
}
@keyframes portrait-expand-sm{
    0% {
        left: 2em;
        right: auto;

        margin: none;
    }
    100%   {
        left: 0em;
        right: 0em;

        margin: auto;
    }
}

@keyframes portrait-svg-collapse-sm{
    0%   {height: $portrait-size-exp-sm;}        
    100% {height: $portrait-size-clp-sm;}
}
@keyframes portrait-svg-expand-sm{
    0% {height: $portrait-size-clp-sm;}
    100%   {height: $portrait-size-exp-sm;}        
}

@keyframes info-collapse-sm{
    0%   {
        width: 100%;
        padding-top: $portrait-size-exp-sm;
    }
    100% {
        width: 75%;
        padding-top: 0em;
        margin-left: 0.5em + $portrait-size-clp-sm;
    }
}
@keyframes info-expand-sm{
    0% {
        width: 70%;
        padding-top: 0em;
        margin-left: 2em + $portrait-size-clp-sm;
    }
    100% {
        width: 100%;
        padding-top: $portrait-size-exp-sm;
    }
}
