
#activities{
}

.activity-container{
    padding-top: 0;
    padding-bottom: 0;
}

.activity-image{
    background-color: $bg-dark;
    padding: 0;

    a i svg{
        height: 100%
    }
}

.activity-info{
}