$cal-body-bg: #e2e1e0;
$cal-dark-body-bg: #d2d1d0;
$cal-off-white: #fcfdfd;

.day{fill: $cal-dark-body-bg; stroke: $cal-off-white;}

.day-bg{fill: $cal-body-bg; stroke: $cal-off-white;}

.cal-bg {fill: $cal-body-bg;}

.svg-bg {fill: $cal-body-bg;}

#calendar{svg{margin: 0;}}

#calendar-page .card{width: 100%;}
