$cal-00: #e2e1e0;
$cal-01: #fcfdfd;
$cal-02: #dcdcdc;
$cal-03: #cccdcd;

.day{fill: $cal-01; stroke: $cal-00;}

.day-bg{fill: $cal-02; stroke: $cal-00;}

.cal-bg {fill: $cal-03;}

.svg-bg {fill: $cal-03;}

#calendar{svg{margin: 0;}}

#calendar-page .card{width: 100%;}
