#timesheet-page{
    .project-buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .project-button{
            width: 12em;
            height: 3em;
            font-size: 1em;
            margin: 0em;
        }
    }
    .month-bg{
        fill: white;
    }
    .day-bg{
        fill: #efefef;
        stroke: white;
        stroke-width: 0.5;
    }
    .month-title{
        width: 100%;
        background-color: white;
        color: #bababa;
        font-size: 1em;
        text-align: center;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    .interval{
        width: 100%;
        font-size: 1em;
        border: none;
        border-bottom: 0.1em solid grey;
        margin-top: 1em;

        &.error{
            border: 0.15em solid red;
        }
    }

    .stats{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 2em;
    }

    .stat{
        text-align: center;
        margin: 0.5em;

        label{
            margin-right: 1em;
            color: grey;
        }
    }

    @media only screen and (min-width: $lg) {
        .date-line{
            stroke-width: 0.5px;
        }
        
        .date-circle{
            r: 1px;
        }
    }

    @media only screen and (max-width: $md) {
        .date-range-container{
            height: 6em;
        }

        .date-line{
            stroke-width: 2.5px;
        }
        
        .date-circle{
            r: 7px;
        }   


    }
}