#title-container{
}

#title{
    $portrait-size: 10em;

    #portrait{
        display: flex;
        justify-content: center;

        i svg{height: $portrait-size;}
    }

    #info{
        #bio{
        }
    } 
}