
.main-title-row{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.resume-link{
     display: flex;
        justify-content: center;
        background-color: $bg-light;
        border-radius: 0.25em;
        width: 10em;
        padding: 0.5em;

        a {
            color: white;
            width: 100%;
            text-align: center;
            text-decoration: none;
        }
}

#title{
    $portrait-size: 10em;

    .card .row{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    #portrait{
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            display: flex;
            align-items: center
          }
        i svg{
            // height: $portrait-size;
            width: 100%;}
    }

    #info{
        // padding-right: 2em;
        #bio{
        }
    } 
}