
.main-title-row{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#title{
    $portrait-size: 10em;

    .card .row{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    #portrait{
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            display: flex;
            align-items: center
          }
        i svg{
            // height: $portrait-size;
            width: 100%;}
    }

    #info{
        // padding-right: 2em;
        #info-title{
            margin-bottom: 0.05em;
            margin-left: 0.25em;
            color: $bg-dark;
        }
        #bio{
            margin-top: 0.05em;
            margin-left: 0.5em;
        }
    } 
}