#workouts{
    .heatmap{
        padding-top: 3em;
    }

    .selected{
        display: flex;
        justify-content: center;

        label{
            margin-right: 1em;
            color: grey;
        }

        span{
            mergin-right: 0.5em;
        }
        .selected-srws{
            .selected-srw{
                
            }
        }
    }

    .stats{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .stat{
        text-align: center;
        margin: 0.5em;

        label{
            margin-right: 1em;
            color: grey;
        }
    }

    @media only screen and (min-width: $md) {
        .date-line{
            stroke-width: 0.5px;
        }
        
        .date-circle{
            r: 1px;
        }
    }

    @media only screen and (max-width: $md) {
        .date-line{
            stroke-width: 1px;
        }
        
        .date-circle{
            r: 1.5px;
        }   
    }   

    @media only screen and (max-width: $sm){
        .date-range-container{
            height: 6em;
        }
        .date-line{
            stroke-width: 2.5px;
        }
        
        .date-circle{
            r: 7px;
        }
    }
}